// GLOBAL
$max-width: 375px;
$finger-size: 44px;
$border-radius: 4px;
$gutter: 20px;


// COLORS
$c-white: #FFFFFF;
$c-black: #000000;
$c-gray: #5a5b5d;
$c-purple: #7d52f8;
$c-border: #e8eef6;
$c-hover: #c5c5c5;

$gradient: linear-gradient(45deg, rgba(104,75,241,1) 0%,rgba(125,82,248,1) 100%);


// TYPOGRAPHY
$ff: 'Open Sans', Arial, sans-serif;
$fs-default: 16px;
$fs-small: .9em;
$fs-medium: 1.2em;
$fs-big: 1.5em;