// GLOBAL
$max-width: 360px;
$finger-size: 40px;
$border-radius: 3px;
$gutter: 20px;


// COLORS
$c-white: #FFFFFF;
$c-black: #000000;
$c-border: #c5c5c5;
$c-hover: #c5c5c5;


// TYPOGRAPHY
$ff: 'Open Sans', Arial, sans-serif;
$fs-default: 16px;
$fs-small: .9em;
$fs-medium: 1.2em;
$fs-big: 1.5em;


//Devices
$mobile: 360px;
$tablet: 768px;

