.main {
  position: relative;

  .wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .cart-item {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.15em;
    border-radius: $border-radius;
    border: 1px solid rgba($c-border, 1);

    &.is-expanded {
      height: 280px;
      padding-bottom: 210px;
    }

    &-details {
      padding-left: 10px;
      width: 30%;
    }

    &-quantity {
      width: 100px;
      height: 30px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(#c2c2c2, .9);
      justify-content: space-between;
      border-radius: $border-radius;
      margin-left: 120px; 
      
      .reduce {
        width: 30px;
        height: 30px;
        background-color: #c2c2c2;
        border-radius: $border-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .quantity {
        font-size: .9em;
      }

      .increase {
        width: 30px;
        height: 30px;
        background-color: #c2c2c2;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .checkout-total-bar {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //position: absolute;
    top: 355px;
    border-radius: $border-radius;
    border: 1px solid rgba($c-border, 1);
  }

  .btn-pay {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
  }
}