extends global/master

block content
  .wrapper
    .drink-menu
      .drink-menu-slider
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://dydza6t6xitx6.cloudfront.net/ci_2822.jpg);')
          .info
            h4.info-price $2.45
            h4.info-name Corona
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://media.gqindia.com/wp-content/uploads/2015/02/estrella-bottle1-866x956.jpg);')
          .info
            h4.info-price $2.34
            h4.info-name Estrella
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://media.gqindia.com/wp-content/uploads/2015/02/lzriperoni1-866x956.jpg);')
          .info
            h4.info-price $1.90
            h4.info-name Peroni
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://media.gqindia.com/wp-content/uploads/2015/02/heineken1-866x956.jpg);')
          .info
            h4.info-price $2.90
            h4.info-name Heineken
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://reservebar.global.ssl.fastly.net/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/j/i/jimbeam_white_1.jpg);')
          .info
            h4.info-price $4.90
            h4.info-name Jim Beam
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://reservebar.global.ssl.fastly.net/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/t/n/tncp.jpg);')
          .info
            h4.info-price $8.90
            h4.info-name TINCUP
            
    .total-bar
      h3.total-bar-title TOTAL: 
      h4.total-bar-price $7.80

    button.btn.btn-add(type='button') 
      a(href='cart.html') Add to card
