extends global/master

block content 
  .wrapper
    .cart-item
      .cart-item-img
      .cart-item-title Coca Cola
      .cart-item-price $2
      .cart-item-quantity 
        button.reduce &minus;
        p.quantity 1
        button.increase &plus;

    .cart-item
      .cart-item-img
      .cart-item-title Coca Cola
      .cart-item-price $2
      .cart-item-quantity 
        button.reduce &minus;
        p.quantity 1
        button.increase &plus;