extends global/sign-master

block content
  .wrapper
    .form
      h3 Register
      form(action="")
        .form-group
          input(type='text' name='name' placeholder='Your name')
        .form-group
          input(type='text' name='email' placeholder='Email')
        .form-group
          input(type='password' name='password' placeholder='Password')
      
      button.btn.btn-login(type='button')
        a(href="categories.html") Register

      p.sign-up 
        a(href="index.html") You have an account? Log in