header.header
	.wrapper
		button.header-switch
			svg.icon.icon-menu
				use(xlink:href='#icon-menu')
		nav.header-menu
			a(href='categories.html') Categories
			a(href='') My Order
			a(href='') Settings
			a(href='index.html') Logout
		.header-title Drinks
		a.header-bag(href='cart.html')
			svg.icon.icon-shopping-bag
				use(xlink:href='#icon-shopping-bag')