header.header
	.wrapper
		button.header-switch
			svg.icon.icon-menu
				use(xlink:href='#icon-menu')
		nav.header-menu
			a(href='index.html') Home
			a(href='') My Order
			a(href='') Settings
			a(href='') Logout
		.header-title Drinks
		a.header-bag(href='#')
			svg.icon.icon-shopping-bag
				use(xlink:href='#icon-shopping-bag')