extends global/master

block content
  .wrapper
    .top-bar
      h3.top-bar-title You want Alcohol?
      p.top-bar-subtitle Choose your alcohol.
    .drink-menu
      .drink-menu-slider
        .drink-menu-slider-item
          .drink-image(style='background-image: url();')
          .info
            h4.info-price $3.14
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url();')
          .info
            h4.info-price $2.34
            h4.info-name Mochaccino
        .drink-menu-slider-item
          .drink-image(style='background-image: url();')
          .info
            h4.info-price $3.14
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url();')
          .info
            h4.info-price $2.29
            h4.info-name Frappucciono
    button.btn.btn-choose(type='button') Continue
