extends global/master

block content
  .wrapper
    .top-bar
      h3.top-bar-title You want coffee?
      p.top-bar-subtitle Choose your coffee.
    .drink-menu
      .drink-menu-slider
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5465/gallery-1467899962-starbucks-vanilla-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $3.14
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5139/gallery-1467900044-starbucks-caramel-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $2.34
            h4.info-name Mochaccino
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5465/gallery-1467899962-starbucks-vanilla-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $3.14
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5167/gallery-1467900126-starbucks-mocha-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $2.29
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5139/gallery-1467900044-starbucks-caramel-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $3.28
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5167/gallery-1467900126-starbucks-mocha-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $4.12
            h4.info-name Cappuccino
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5167/gallery-1467900126-starbucks-mocha-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $3.50
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5139/gallery-1467900044-starbucks-caramel-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $1.90
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5139/gallery-1467900044-starbucks-caramel-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $3.00
            h4.info-name Frappucciono
        .drink-menu-slider-item
          .drink-image(style='background-image: url(https://hips.hearstapps.com/cos.h-cdn.co/assets/16/27/3200x5167/gallery-1467900126-starbucks-mocha-affogato-frappuccino.jpg?resize=768:*);')
          .info
            h4.info-price $2.18
            h4.info-name Cappuccino
    button.btn.btn-choose(type='button') Continue
